body {
    background: url("papier.gif")
}
div.adres {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 12em;
    border: 1px solid #000;
    background: yellow;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
}
span.nazwisko {
    color: #0000ff;
    display: block;
    font-weight: bold;
    border-bottom: thin solid blue;
    border-top: thin solid blue;
}
span.ulica {
    color: #00dd00;
    display: block;
}
span.kod {
    color: #dd0000;
}
span.miejscowosc {
}
span.telefon {
    display: block;
}
