* {
  box-sizing: border-box;
}
body #login-form {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 200px;
  height: 90px;
  background: #2c3d55;
  border-radius: 5px;
}
body #login-form #username {
  position: absolute;
  bottom: 5px;
  left: 5px;
  border: 0;
  padding: 10px;
  width: 65%;
  margin-right: .5%;
  background-color: #cfcce0;
  border-radius: 5px;
}
body #login-form #room {
  position: absolute;
  top: 5px;
  left: 5px;
  border: 0;
  padding: 10px;
  width: 65%;
  margin-right: .5%;
  background-color: #cfcce0;
  border-radius: 5px;
}
body #login-form #login-btn {
  border: 0px;
  color: white;
  background-color: #6a687a;
  border-radius: 5px;
  position: absolute;
  width: 25%;
  height: 40%;
  top: 5px;
  right: 5px;
}
body #login-form #login-btn:hover {
  background-color: #9e9dab;
}
body #login-form #logout-btn {
  border: 0px;
  color: white;
  background-color: #6a687a;
  border-radius: 5px;
  position: absolute;
  width: 25%;
  height: 40%;
  bottom: 5px;
  right: 5px;
}
body #login-form #logout-btn:hover {
  background-color: #9e9dab;
}
body #room-form {
  position: absolute;
  margin-top: 10px;
  top: 110px;
  right: 10px;
  width: 200px;
  height: 500px;
  background: #2c3d55;
  border-radius: 5px;
}
body #room-form ul {
  border-radius: 5px;
  position: absolute;
  left: 8px;
  right: 8px;
  bottom: 50px;
  min-width: 90%;
  min-height: 80%;
  background-color: #cfcce0;
}
body #room-form ul li {
  list-style: none;
  width: 70px;
}
body #room-form ul li button {
  border: 0px;
  color: white;
  background-color: #6a687a;
  border-radius: 5px;
  width: 100px;
}
body #room-form ul li button:hover {
  background-color: #9e9dab;
}
body form {
  position: absolute;
  top: 50%;
  left: 30%;
  margin: -250px 0px 0px -175px;
  width: 350px;
  height: 500px;
  background: #2c3d55;
  padding: 5px;
  border-radius: 5px;
}
body form #messages {
  background-color: #cfcce0;
  position: absolute;
  height: 80%;
  width: 60%;
  list-style: none;
  margin: 0px;
  padding: 5px;
  border-radius: 5px;
}
body form #messages li {
  padding: 5px, 10px;
}
body form #messages li:nth-child(odd) {
  background-color: #aba9ba;
}
body form #active-users {
  background-color: #cfcce0;
  position: absolute;
  right: 5px;
  height: 80%;
  min-width: 35%;
  list-style: none;
  margin: 0px;
  padding: 5px;
  border-radius: 5px;
}
body form #active-users li {
  padding: 5px, 10px;
}
body form input {
  position: absolute;
  bottom: 5px;
  left: 5px;
  border: 0;
  padding: 10px;
  height: 15%;
  width: 80%;
  margin-right: .5%;
  background-color: #cfcce0;
  border-radius: 5px;
}
body form button {
  border: 0px;
  color: white;
  background-color: #6a687a;
  border-radius: 5px;
  position: absolute;
  width: 15%;
  height: 15%;
  bottom: 5px;
  right: 5px;
}
body form button:hover {
  background-color: #9e9dab;
}
