extends layout
block content
    div.container
        form(action="add/new" method="post")
            div.form-group
                label(for="street") Ulica: 
                input#street.form-control(type="text" name="street")
            div.form-group
                label(for="number") Numer lokalu: 
                input#number.form-control(type="text" name="number")
            div.form-group
                label(for="city") Miasto: 
                input#city.form-control(type="text" name="city")
            div.form-group
                label(for="zip-code") Kod pocztowy:
                input#zip-code.form-control(type="text" name="zip")
            button.form-group.btn-primary(type="submit") Dodaj
            button.form-group.btn-danger(type="reset") Wyczyść