doctype html
html
  head
    title= title
    script(src="/socket.io/socket.io.js")
    link(rel='stylesheet', href='/stylesheets/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="/javascripts/connect.js")
    block addons
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
      a.navbar-brand(href='/') µBay
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#menu', aria-controls="menu" aria-expanded="true" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      div.collapse.navbar-collapse.w-100(id='menu')
          ul.navbar-nav.ml-auto.w-100.justify-content-end
            if (!user)
              li.nav-item
                a.nav-link(href='/login') Zaloguj
              li.nav-item
                a.nav-link(href='/register') Zarejestruj
            if (user)
              li.nav-item.dropdown
                a.nav-link.dropdown-toggle(data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false") Twój µBay 
                  div.dropdown-menu
                    a.dropdown-item(href="/user/account/") Twoje konto
                    a.dropdown-item(href="/item/your/all") Twoje przedmioty
                    a.dropdown-item(href="/item/add") Wystaw przedmiot
                    a.dropdown-item(href="/logout") Wyloguj
              li.nav-item
                  a.nav-link(href="/user/notifications/all")
                    if(user.hasUnread)
                      span(style="color: red")#ntf-bell.fa.fa-bell-o  Powiadomienia
                    else
                      span#ntf-bell.fa.fa-bell-o &nbsp; Powiadomnienia
              a.nav-link(href="/chat/" + user.id)
                  span#ntf-env.fa.fa-envelope &nbsp; Chat
    div.content
      block content
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="/stylesheets/bootstrap/dist/js/bootstrap.js")