body #container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 500px;
  width: 300px;
  background: skyblue;
}
body #container #chat-window {
  align-self: flex-start;
  min-width: 80%;
  min-height: 60%;
  background: aliceblue;
}
body #container #inputs {
  align-self: flex-end;
}
